.prize-container {
  margin: 20px 0px;
  /* position: absolute;
    left: 21.6%;
    right: 24.8%;
    top: 34.93%;
    bottom: 34.93%;
    background: #555555; */
}

/*.prize-item {
    position: absolute;
    width: 180px;
    height: 181px;
    left: 98px;
    top: 251px;
} */
