.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px 60px;
  background-color: var(--color-faded-white);
}

.hasGradient {
  background: linear-gradient(var(--color-light-pink), var(--color-white));
}
