.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 44px 20px 28px 20px;
  background-color: var(--color-faded-white);
}

.hasGradient {
  padding: 0;
  background: linear-gradient(var(--color-light-pink), var(--color-white));
}
