.backLinkWrapper {
  margin: 24px 0 24px 24px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
}

.backLink {
  width: 32px;
  height: 32px;
  color: var(--color-light-pink);

  > svg {
    width: inherit;
    height: inherit;
  }
}
