.buttonWrapper {
  margin: 24px 0 24px 24px;
}

.button {
  width: 32px;
  height: 32px;
  padding: 0;
  color: var(--color-light-pink);
  background: none;
  border: none;

  > svg {
    width: inherit;
    height: inherit;
  }
}
