.logo {
  font-family: var(--font-family-title);
  font-size: var(--font-size-xl);
  line-height: 48px;
  color: var(--color-blue);
  background-image: radial-gradient(var(--color-blue), var(--color-hot-pink));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
