.header {
  margin-bottom: 44px;

  &.isHidden {
    visibility: hidden;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 32px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.progressBarWrapper {
  display: flex;
  justify-content: center;
}
