.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px var(--main-container-spacing) 60px;
  background: var(--color-white);
}

.header {
  margin-bottom: 44px;

  &.isHidden {
    visibility: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // padding: 24px var(--main-container-spacing) 60px;
}

.main {
  flex-grow: 1;
  margin-bottom: 12px;
}

.footer {
  text-align: center;
}

.progressBarWrapper {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}
