.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px;
}

.backLinkInvisible {
  visibility: hidden;
}

.buttonWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
