.component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.otherInterestComponent {
  flex-direction: row;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px;
}

.isHidden {
  visibility: hidden;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.progressBarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
