.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 var(--main-container-spacing);
}

.logoWrapper {
  margin-bottom: 54px;
  text-align: center;
}

.headingWrapper {
  margin-bottom: 20px;
  text-align: center;
  white-space: pre-line;
}

.svgWrapperBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
}

.buttonWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
