.svgtop {
  display: flex;
  justify-content: right;
}

.title {
  text-align: center;
}

.heading {
  padding: 0 20px;
  text-align: center;
}

.info {
  padding: 0 20px;
  text-align: center;
}

.btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
