.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 20px;
}

.svgWrapperTop {
  display: flex;
  justify-content: right;
  margin-bottom: 40px;
}

.logoWrapper {
  margin-bottom: 40px;
  text-align: center;
}

.heading {
  margin-bottom: 48px;
  text-align: center;
}

.info {
  text-align: center;
}

.svgWrapperBottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
