.default-button {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  padding: 15px 40px;
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
