.root {
  padding: 0 20px;
}

.headingWrapper {
  margin-bottom: 100px;
  text-align: center;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.termsAndConditions {
  margin-bottom: 40px;
}
