@import-normalize;
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap";
@import "styles/globals.css";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-family-body);
}

body {
  background-color: #e0e9f5;
}
