.main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 var(--main-container-spacing);
}

.logoWrapper {
  margin-bottom: 40px;
  text-align: center;
}

.headingWrapper {
  margin-bottom: 28px;
  text-align: center;
}

.bodyWrapper {
  margin-bottom: 24px;
  text-align: center;
}

.svgWrapperBottom {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.buttonWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
