.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 var(--main-container-spacing);
  overflow: hidden;
}

.wheel {
  position: relative;
  flex: 1;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background: none;
  border: none;
  animation-name: rotation;
  animation-duration: 4.7s;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.77, -0.76, 0.36, 1.17);
}

.isRotating {
  animation-play-state: running;
}

@keyframes rotation {
  100% {
    transform: rotate(3turn);
  }
}
