.root {
  text-align: center;
}

.arrow {
  z-index: 1;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: -33px;
  border-top: 50px solid black;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 16px auto;
  overflow: hidden;
  list-style: none;
  border: 1px solid black;
  border-radius: 50%;
  animation: 3s ease-in 1s 2 reverse both paused rotation;
}

.isRotating {
  animation-play-state: running;
}

.prize {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: hidden;
  transform-origin: 0% 100%;
}

.prizeImageContainer {
  display: flex;
  justify-content: center;
}

.prizeImage {
  position: absolute;
  top: 5%;
  left: -100%;
  width: 200%;
  height: 35%;
  padding-left: 70px;
  transform: skewY(60deg) rotate(15deg);
}

.spinButton {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: blue;
  border-radius: 30px;
  outline: none;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 350px) {
  .name {
    margin-left: 65px !important;
  }

  .arrow {
    margin-right: -60px !important;
  }

  .spinButton {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 365px) {
  .name {
    margin-left: 30px;
  }

  .arrow {
    margin-right: -30px;
  }
}
