.h1,
.h2,
.h3,
.h4 {
  font-family: var(--font-family-body);
  color: var(--color-blue);
}

.h1,
.h2,
.h4 {
  font-weight: 500;
}

.h1 {
  font-size: var(--font-size-lg);
  line-height: 40px;
}

.h2 {
  font-size: var(--font-size-md);
  line-height: 32px;
}

.h3 {
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 24px;
}

.h4 {
  font-size: var(--font-size-xs);
  line-height: 20px;
}
