.main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 var(--main-container-spacing);
}

.logoWrapper {
  margin-bottom: 28px;
  text-align: center;
}

.headingWrapper {
  margin-bottom: 24px;
  text-align: center;
}

.bodyWrapper {
  margin-bottom: 32px;
  text-align: center;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.link {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  list-style-type: none;
}

.svgWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
}
